<!-- HERO SLIDER -->
     <div class="container" id="hero"></div>
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/1ZJQnuL.jpg" alt="...">
                    <div class="carousel-caption">
                        <h1>Earth is small potatoes.</h1>
                        <h3>Let's think bigger</h3>
                    </div>
            </div>
            <div class="item">
                <img src="images/pDt07TZ.jpg" alt="...">
                    <div class="carousel-caption">
                        <h1>It's always a new day.</h1>
                        <h3>We're surrounded by bright ideas</h3>
                    </div>
            </div>
            <div class="item">
                <img src="images/hHEKbrI.jpg" alt="...">
                    <div class="carousel-caption">
                        <h1>Let's explore.</h1>
                        <h3>It's about time we return to the sky</h3>
                    </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
     </div>
<!---INTRO CONTENT-->
    <div class="container anchor">
      <div class="row">
        <div class="col-md-4">
          <h2>Skills</h2>
          <ul><li>Content marketing</li>
            <li>Tasteful HTML/CSS</li>
              <li>Project management</li>
              <li>Educational marketplace strategies</li>
              <li>Professional development</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="center" style="width:50%"><img class="center" src="http://www.aresdevelopment.net/wp-content/uploads/2014/10/dadiletta_photo.jpg" width="100%"></div> 
       </div>
        <div class="col-md-4">
          <h2>Course Goals</h2>
          <p>This course was paid for me by investors in a new platform being built to compete with WordPress. Its aims are to build modular components and themes similar to most major CMS's, but it will have a more powerful, reprogrammable core. My goal is to learn enough RoR to contribute on the backend development.</p>
          <p><a class="btn btn-default" href="http://truenorthtechnology.com" target="_blank" role="button" id="truenorth" title="What I'm studying for...">Explore Partner's Site &raquo;</a>            <button class="btn btn-primary" data-toggle="modal" data-target=".modal-video" title="Open my project's explanatory video" id="modalButton">Preview Video</button>
           </p>
        </div>
      </div>
      <hr>
    </div>
      <!-- modal -->
            <div class="modal fade modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="videoModalLabel" >CPN Explanatory Video</h4>
                    </div>
                <div class="modal-body">
                    <iframe src="https://player.vimeo.com/video/122203787" width="100%" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/122203787">Clover Professional Network: Powered by Compass Agile Enterprise</a> from <a href="https://vimeo.com/dadiletta">Dan Adiletta</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    </div>
                </div>
              </div>
            </div>
<!---STORY -->
    <div class="container anchor" id="story">
        <h1>Bio</h1>
      <div class="row">
        <div class="col-md-1">
           
        </div>  
        <div class="col-md-8 col-md-offset-1">
            
<p>Mr. Adiletta is a recognized leader and evangelist in Educational Technology. He is an outspoken advocate for technology’s potential to revolutionize student outcomes. He has an outstanding record of over 10 years as a classroom teacher, as an administrator, and as an IT solutions developer. In addition teaching, Mr. Adiletta is an accomplished web developer, designing, building, and supporting, sites for numerous local businesses with leading edge SaaS and WebRTC solutions. He and his wife serve the community as a volunteer mentor and hold positions on the steering committee of <a href="http://slowmoneyclevelandneo.org" target="_blank">a local nonprofit</a> that supports sustainable food businesses.</p>
<br>
<p>Mr. Adiletta served the Director of Implementation at <a href="http://edstart.com" target="_blank">EdStart</a>, leading the deployment and training of <a href="http://exitticket.org" target="_blank">ExitTicket</a>, a cloud-based assessment system with longitudinal, mastery-based reporting. ExitTicket is unique in how it stores student comprehension data and Mr. Adiletta has been instrumental in making comprehension analytics more accessible to teachers. In this role, Mr. Adiletta has specialized in helping school systems adopt ground-breaking software for real-time data aggregation and analysis of student comprehension into easy-to-grasp displays that can inform teachers' decisions and has led to more successful 1:1 programs.</p>   
<br>
<p>Mr. Adiletta is also the founder of <a href="http://certifiededtech.org" target="_blank">Certified Edtech Strategist</a>, a free professional development platform teachers use to take courses on educational technology. Upon completion of such a course, teachers earn an OpenBadge Compliant certificate recognizing their proficiency of the educational technology. Mr. Adiletta has negotiated with major school districts to recognize these badges as increments of teachers’ required PD seat time. Mr. Adiletta continues to bring together independent software developers to build instructional courses on CEC‘s site. </p>
<br>            
<p>From 2010 to 2013, Mr. Adiletta held the post of Manager of Educational Technology, as well as Computer Science teacher at a private Catholic high school, <a href="http://marianapolis.org" target="_blank">Marianapolis</a>. Mr. Adiletta was solely responsible for the planning, training, and deployment of over 440 iPads. Mr. Adiletta evaluated and oversaw the installation of networking and software to securely and reliably support the entire school system. He employed a novel, flipped approach to the program’s professional development. He was also responsible for the inventory, repair, and security for all the devices. He negotiated prices between mobile device management (MDM) solutions like JAMF’s Casper Suite and AirWatch’s MDM, two examples of critical components to manage 1:1 infrastructure. He created a student club, TechCrew, which served as the first line of technical support for students, dramatically easing the burden on the IT staff. Mr. Adiletta was asked to present with his students about TechCrew at Tech &amp; Learning’s Tech Forum Boston.</p> 
<br>
<p>Mr. Adiletta’s passion for helping those most in need of advanced educational support has led him through the rigorous screening and training at The New Teacher Project to teach in distressed areas in Oakland, CA. He has sought to overcome cultural barriers and broaden his perspectives by teaching English as a Second Language in South Korea. He has worked in charter schools in Cleveland as well as a Museum Educator for the <a href="http://wrhs.org" target="_blank">Western Reserve Historical Society</a>.</p>
<br>
<p>Mr. Adiletta earned a BA in Teacher Education and History from Case Western Reserve University in Cleveland, OH and a Master's in Public Administration from Golden Gate University in San Francisco, CA.</p> 
       </div>
      </div>
    </div>
<!---WORK -->
    <div class="container anchor center" id="work">
        <h1>Available Services</h1>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="image" id="0"></div>
                <div class="image" id="1"></div>
            </div>
            <div class="col-md-4">
                <div class="image" id="2"></div>
                <div class="image" id="3"></div>
            </div>
        </div>
    </div> <!--close container-->
<!---CONTACT -->
    <div class="container anchor" id="contact">
        <div class="row">
            <h1 class="center" style="width:40%">Contact</h1>
        </div>
    <div class="row">
        <form><div class="form-group">
        <div class="col-lg-4 col-lg-offset-2  col-md-6">
                <label for="name">Name*</label>
                <input type="text" placeholder="Your name" class="form-control" id="name" required="required" title="Who are you?">
                <label for="email">Email*</label>
                <input type="email" placeholder="Your email" class="form-control" id="email" required="required" title="How can I respond to you?">
            </div>
        <div class="col-md-6 col-lg-4">
            <label for="message">Message*</label><label for="message" id="charcount"></label>
            <textarea minlength=20 placeholder="Your message goes here" style="resize:none;" cols="40" rows="5" class="form-control" id="message" required="required" title="What do you have to say?"></textarea>
        </div>
            <div class="center" style="width:50px;"><button style="margin-top:15px" type="submit" class="btn btn-primary center" id="contactSubmit">Submit</button></div>
        </div> 
        </form>    
    </div>
    </div>

<!---FAQ -->
    <div class="container" id="faq">
        <h1>FAQ</h1>
        <table class="center table table-bordered">
            <tr class="my-row">
                <th><h5>Skill</h5></th>
                <th><h5>Years' Experience</h5></th>
                <th><h5>Type of Training</h5></th>
            </tr>
            <tr class="my-row">
                <td>Teaching</td>
                <td>9</td>
                <td>Formal &amp; Professional</td>
            </tr>
            <tr class="my-row">
                <td>.NET Development</td>
                <td>3</td>
                <td>Informal</td>
            </tr>
            <tr class="my-row">
                <td>Web Design</td>
                <td>15</td>
                <td>Informal &amp; Professional</td>
            </tr>
            <tr class="my-row">
                <td>Ruby Development</td>
                <td>Less than 1</td>
                <td>CareerFoundry</td>
            </tr>
        </table>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Why aren't you still in the classroom?
                </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">You can take the teacher out of the classroom but you can't take the class out of the teacher. My partners at <a href="http://aresdevelopment.net">Ares</a> have to put up with a lot of ad hoc lectures. I'm eager to return back to the front of a classroom where I belong.
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What type of freelance work do you have on your plate?
                    </a>
                </h4>
            </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
        I'm working with a few small businesses and nonprofits on low-cost, WordPress backed sites. But Ares's real potential lies with <a href="http://truenorthtechnology.com">the Compass Agile Enterprise platform.</a> We're looking to be the first developers working with this exciting programmable SaaS creation suite.
      </div>
    </div>
  </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What interests you about web development?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
        It's fun puzzle-solving mixed with visual design all to help people communicate more readily with the world.
                </div>
            </div>
        </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What interests you about web development?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Hacking is as blunt, marshal and repetitive as it sounds. Problems inevitably occur in inconvenient frequency and they can be trying on your patience. The payoff, of course, is when you can manage to overcome them with a stroke of brilliance. 
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Could you please describe your teaching philosophy?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
          <p>Teaching is about empowerment and metacognitive thought. Engaging lessons draw students into challenging academic rigor and endow them with enviable capabilities. While the pursuit of skills opens the door for careers and prepares students to become dutiful citizens, it is the exploration of reason through inquiry and experiential learning that makes for an exceptional pedagogue. Adolescence is marked by the introduction of metacognition, the ability to be aware and critical of one’s own thoughts. Honing this capacity is an awesome and deeply rewarding responsibility. </p>
          <p>Having taught in economically depressed Oakland, California, alongside impressive exemplars of Teach for America, I absorbed teaching practices that have shaped my philosophy. Routines and practiced procedures are essential to bell-to-bell teaching. Students know and can predict the agenda of almost every one of my classes, though the content always changes. Creative, hands-on activities not only increase retention but preempt most classroom management issues. But most of all, I learned to shake students’ hands on the way in to class and to be in close communication with their families —a teacher is so much more than the head of one classroom at the end of a hall.</p>
          <p>The juxtaposition of finding myself the following year teaching on the other side of both the country and the socioeconomic spectrum was a learning experience as well. My private school tenure underlined the merits of authentic assessment, the nearly limitless potential of our students, the proper application of technology, and of course the role of a mentor in students’ lives. Leading high school students to start their own online businesses made practical economic theory a subject that received surprising levels of participation. I shared my personal curiosity with the more complex aspects of Computer Science, and we soon had to find a new textbook as my students raced ahead. And I gave shelter, encouragement and attention to students that felt at times as if they couldn’t keep up with their ambitious peers. </p>
          <p>Teaching is about empowerment and metacognitive thought. But the daily execution of this craft is done by holding students to standards far above their comfort zone. It’s done by a keeping a keen, real-time awareness of students’ comprehension and knowing how to scaffold content. The most impressive educators are those who paradoxically cultivate a sense of humility and with a sense of urgency consume every instructional strategy that may give them an advantage. </p>
      </div>
    </div>
  </div>
</div>
    </div>
<footer>
    <div class="footer">&copy; Dan Adiletta, 2015</div>
    <div class="social">
        <a href="https://twitter.com/certifiededtech" class="twitter-follow-button" data-show-count="false">Follow @certifiededtech</a>
        <div class="fb-share-button" data-href="https://facebook.com/aresdevelopment" data-layout="button"></div>
    </div>
</footer>
<!--- SCROLLTO SCRIPT -->
    <script type="text/javascript">
        var $root = $('html, body');
            $('.navbar-nav a').click(function(){
                var href = $.attr(this, 'href');
                $root.animate({
                    scrollTop: $(href).offset().top
                }, 500, function () {
                    window.location.hash = href;
                });
                return false;
            });    
    </script>
<!--- TOOLTIP SCRIPT -->
    <script>
        $(function () {
            $('#truenorth').tooltip();
            $('#modalButton').tooltip();
        });
    </script>