<table>
  <tbody>
    <tr>
      <td><p>You have received a new order form message. The contents of the message are:</p></td>
    </tr>
    <tr>
        <td><p><%= @first_name %>, your order confirmation goes here. Place ruby %= @variables to show order info. </p></td>
        
    </tr>
  </tbody>
</table>
